.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.movieList{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;


}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
button{
  margin: 10px;
}
.Movie{
  border: 1px solid black;
  width:300px;

  max-height: 300px;
  margin: 10px;
  border-radius: 5px ;
}
