.App {
  text-align: center;
}
.movieList{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;


}
.Movie{
  border: 1px solid black;
  width:300px;
  max-height: 300px;
  margin: 10px;
}
